.stockpreview {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 130px 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

.stockpreview:active,
.stockpreview:hover {
    transform: scale(1.05);
}

.stockpreview-graph {
    width: 100%;
    height: 100%;
}